.form-control{
	font-size: 13px;
}
strong{
	font-weight: 600;
}
.table{
	background-color: #fff;
}
.table th, .table td{
	padding: 8px;
	line-height: 1.3;
	font-weight: normal;
	/* word-break: break-word; */
}
.table th{
	/* word-break: inherit; */
}
.table thead th, .table tfoot th{
	font-weight: 600;
}
.table.table-bordered thead tr th, .table.table-bordered tfoot tr th{
	border-left: none;
    border-right: none;
}
.input-group{
	position: relative;
    display: table;
    border-collapse: collapse;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-addon:last-child {
    border-left: 0;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.img_wrapper{
    display: block;
    position: relative;
    margin: 0 auto;
    color: #444;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.img_show{
	display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: #eee;
    border: 1px solid transparent;
    transition: border 0.12s linear;
    -webkit-transition: border 0.12s linear;
    -moz-transition: border 0.12s linear;
    -ms-transition: border 0.12s linear;
    -o-transition: border 0.12s linear;
}
.img_thumbnail{
	width: 100%;
	height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}
.img_centered{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}
.img_centered img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
img.landscape{
    max-height: 100%;
    max-width: inherit;
}
img.portrait{
    max-width: 100%;
    max-height: inherit;
}
textarea{
	resize: vertical;
}
body.modal-open{
	padding-right: 0!important;
}
.modal-open .modal{
	padding-right: 0!important;
	padding-left: 0!important;
}
.modal-backdrop.in{
	filter: alpha(opacity=70);
    opacity: .7;
}
select.form-control.width_auto{
	display: inline-block;
	width: auto;
}
.btn_inline{
	display: inline-block;
	vertical-align: top;
}
input[type=radio], input[type=checkbox]{
	border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}
input[type=radio]:focus, input[type=checkbox]:focus{
	outline: 0;
}
input[type=checkbox]:checked::before{
	content: "\f147";
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
}
input[type=radio]:checked::before, input[type=checkbox]:checked::before{
	float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type=radio]{
	-webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 4px;
    line-height: 10px;
}
input[type=radio]:checked::before{
	content: "\2022";
    text-indent: -9999px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-size: 24px;
    width: 6px;
    height: 6px;
    margin: 4px;
    line-height: 16px;
    background-color: #1e8cbe;
}
@-webkit-keyframes switchon{
    from{left: 70px;}
    to{left: 0;}
}
@keyframes switchon{
    from{left: 70px;}
    to{left: 0;}
}
@-webkit-keyframes switchoff{
    from{margin-left: 0;}
    to{margin-left: 70px;}
}
@keyframes switchoff{
    from{margin-left: 0;}
    to{margin-left: 70px;}
}
.switch_toggle{
	display: block;
	width: 144px;
	height: 36px;
	padding: 1px;
	border: 1px solid #f2f2f2;
    border-radius: 2px;
    background-color: #dcdcdc;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}
.switch_toggle input[type=radio]{
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: -4px;
	width: 70px;
	height: 32px;
	box-shadow: none;
	border: none;
	border-radius: 2px;
	background-color: transparent;
}
.switch_toggle input[type=radio]::after{
	content: attr(content);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 13px;
	line-height: 1;
	padding: 8px 0;
	color: #555;
	background-color: transparent;
	z-index: 99;
}
.switch_toggle input[type=radio]:checked::after{
	color: #fff;
}
.switch_toggle input[type=radio]::before{
	background-color: transparent;
	margin: 0;
}
.switch_toggle input[type=radio].switch_on::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	z-index: 99;
	background-color: #999;
	-webkit-animation-name: switchoff;
    -webkit-animation-duration: 0.09s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-name: switchoff;
    animation-duration: 0.09s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.switch_toggle input[type=radio].switch_on:checked::before{
	background-color: #308ee0;
	-webkit-animation-name: switchon;
    -webkit-animation-duration: 0.09s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-name: switchon;
    animation-duration: 0.09s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.page_title{
	float: left;
	display: block;
	width: 100%;
	padding: 0;
	padding-bottom: 20px;
}
.page_title h1, .page_title h2, .page_title h3{
	float: left;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	margin-right: 15px;
}
.page_title_highlight{
	color: #308ee0;
}
.button_title{
	float: left;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    padding: 3px 10px;
    font-weight: 600;
    color: #308ee0;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    margin-top: -2px;
}
.button_title:hover{
	text-decoration: none;
	background-color: #00aeef;
	color: #fff;
	border-color: #00aeef;
}
.button_title .dashicons-plus{
	line-height: 1.1;
}
.break_line_title h2, .break_line_title h3, .break_line_title h4,
.break_line_title h5, .break_line_title h6, .break_line_title p{
	color: #e34923;
}
.page_content{
	float: left;
	display: block;
	width: 100%;
}
.table_filter{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.table_filter ul{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.table_filter ul>li{
	float: left;
	border-left: 1px solid #666;
	line-height: 0.7;
}
.table_filter ul>li:first-child{
	border-left: none;
}
.table_filter ul>li:first-child a{
	padding-left: 0;
}
.table_filter ul>li>a{
	float: left;
	padding: 2px 7px;
	text-decoration: none;
	color: #308ee0;
}
.table_filter ul>li>a:hover{
	color: #00a0d2;
}
.table_filter ul>li.active>a{
	font-weight: 600;
	color: #000;
}
.table_filter ul>li>a span{
	color: #555d66;
	font-weight: normal;
}
.table_top_actions{
	display: block;
	width: 100%;
}
.table_top_actions_left{
	float: left;
	margin-bottom: 5px;
	text-align: left
}
.table_top_actions_right{
	float: right;
	margin-bottom: 5px;
	text-align: right;
}
.search_loading{
	display: none;
	float: left;
	margin-top: 9px;
	margin-right: 5px;
}
.filter_loading{
	display: none;
}
.table_search{
	float: left;
	position: relative;
}
.table_search .clear_search{
	position: absolute;
	top: 0;
	left: 171px;
	text-align: center;
	width: 28px;
	height: 28px;
	color: #555;
	font-size: 13px;
	color: #308ee0;
	cursor: pointer;
	line-height: 29px;
	z-index: 99;
}
.table_search input{
	float: left;
	width: 200px;
	padding-right: 28px;
}
.table_search button{
	float: left;
	margin-left: 5px;
}
.table_bottom_actions{
	display: block;
	width: 100%;
}
.pagination{
	float: right;
	margin-top: 10px;
	margin-bottom: 15px;
}
.table_bottom_actions_left{
	float: left;
	margin-top: 5px;
	text-align: left;
}
.table_actions{
	float: left;
}
.table_actions select{
	float: left;
	margin-right: 5px;
	width: 150px;
}
.table_actions button{
	float: left;
}
.table_items{
	float: left;
	margin-top: 12px;
	margin-right: 10px;
	font-size: 13px;
}
.table_bottom_actions_right{
	float: right;
	text-align: right;
}
.table_paginate{
	float: left;
	display: block;
	width: 100%;
	text-align: right;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
	border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
	background-color: #308ee0;
}
.pagination>li>a, .pagination>li>span{
	font-size: 13px;
}
.table_checkbox{
	width: 37px;
}
.table_id{
	width: 70px;
}
.table_title{
	display: block;
	width: 100%;
}
.table_title a{
	font-size: 13px;
	font-weight: 600;
	text-decoration: none;
}
ul.table_title_actions{
	display: block;
	opacity: 0;
	height: 18px;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 8px;
	list-style: none;
}
.table>tbody>tr:hover ul.table_title_actions{
	opacity: 1;
}
ul.table_title_actions>li{
	float: left;
	padding: 0 5px;
	border-right: 1px solid #ddd;
	line-height: 1;
}
ul.table_title_actions>li:first-child{
	padding-left: 0;
}
ul.table_title_actions>li:last-child{
	border: none;
}
ul.table_title_actions>li>a{
	text-decoration: none;
}
.action_delete, .action_red{
	color: #a00;
}
.action_delete:hover, .action_red:hover{
	color: #ff0000;
}
.action_orange, .action_orange:hover{
	color: #d98500;
}
.action_green, .action_green:hover{
	color: #006505;
}
.admin_table{
	width: 100%;
}
.admin_table>tbody>tr>th{
	font-size: 13px;
	font-weight: 600;
	width: 200px;
	vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    line-height: 1.3;
}
.admin_table>tbody>tr>td{
	margin-bottom: 9px;
    padding: 10px;
    line-height: 1.3;
    vertical-align: middle;
}
.admin_table>tbody>tr>td .input-group{
	width: 25em;
}
.admin_table>tbody>tr>td .form-control{
	width: 25em;
}
.admin_table>tbody>tr>td select.form-control{
	width: auto;
}
.admin_table>tbody>tr>td .form-control.width_68{
	display: inline-block;
	width: 68px;
}
.admin_table>tbody>tr>td .form-control.width_15em{
	display: inline-block;
	width: 15em;
}
.admin_table>tbody>tr>td .input_addition{
	display: block;
	margin-top: 5px;
}
.admin_table>tbody>tr>td label{
	margin: 0;
	font-size: 13px;
	font-weight: normal;
}
.admin_table>tbody>tr>th.normal{
	font-weight: normal;
}
.admin_table>tbody>tr>th label{
	margin: 0;
	font-size: 13px;
	font-weight: 600;
}
.underline{
	text-decoration: underline;
}
.admin_table>tbody>tr>th label a{
	font-weight: normal;
	text-decoration: underline;
}
.label-secondary {
    background-color: #777;
}
.admin_table_subject{
	display: block;
	margin: 0;
	font-size: 17px;
	font-weight: 600;
}
.admin_table code{
	display: inline-block;
	margin: 0 1px;
	padding: 3px 5px 2px;
	width: auto;
	font-family: Consolas,Monaco,monospace;
	background-color: rgba(0,0,0,.07);
	color: #333;
}
.admin_table_comment{
	display: block;
	margin: 0;
	margin-top: 15px;
	font-size: 13px;
	font-weight: normal;
}
.admin_table_comment_single{
	display: block;
	margin: 0;
	font-size: 13px;
	font-weight: normal;
}
.admin_table_comment_ul{
	display: block;
	width: 100%;
	margin-top: 15px;
	font-size: 13px;
	font-weight: normal;
}
.admin_table_comment_ul ul{
	margin-left: 2em;
	padding: 0;
	list-style: square;
}
.admin_table_comment_ul ul>li{
	margin-bottom: 6px;
}
.admin_table_comment_ul ul>li>a{
	text-decoration: underline;
}
.admin_table strong{
	font-weight: 500;
}
.admin_table textarea{
	font-weight: normal;
}
.admin_table .ping_sites{
	font-family: Consolas,Monaco,monospace;
    unicode-bidi: embed;
}
.admin_table>tbody>tr>th.padding_top_9{
	padding-top: 9px;
}
.admin_table>tbody>tr>td .form_group{
	margin-bottom: 10px;
}
.admin_table>tbody>tr>td .form_group p{
	line-height: 1.5;
}
.admin_table>tbody>tr>td .form-control.full_width{
	width: 100%;
}
.inline{
	display: inline-block;
}
.input_note{
	display: block;
	clear: both;
	margin: 0;
	margin-top: 3px;
	font-size: 13px;
	font-weight: normal;
}
.input_note.control_width{
	width: 27em;
}
.msg_error{
	display: block;
	clear: both;
	margin: 0;
	margin-top: 3px;
	font-size: 13px;
	font-weight: normal;
	color: #ff0000;
}
.page_option{
    float: left;
    position: relative;
    width: 100%;
}
.page_option .notify{
    background-color: #fff;
    border-left: 4px solid transparent;
    line-height: 1;
    padding: 10px 40px 12px 10px;
    font-size: 13px;
    font-weight: 600;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.page_option .notify.success{
    border-left-color: #46b450;
}
.page_option .notify.error{
    border-left-color: #ff0000;
}
.page_option .close_notify{
    color: #666;
    border-radius: 99px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -23px;
    padding: 9px;
}
.form_title{
	font-size: 1.1em;
}
.form-group:last-child{
	margin-bottom: 0;
}
.form-group label{
	font-weight: normal;
	vertical-align: middle;
}
.form-group label i{
	line-height: 0.7;
}
.width_auto{
	width: auto;
}
/* POSTS */
.page_layout{
	position: relative;
	display: block;
	width: 100%;
	padding-right: 300px;
}
.page_layout .left_wrapper{
	float: left;
	display: block;
	width: 100%;
}
.page_layout .right_wrapper{
	float: right;
	margin-right: -300px;
	width: 280px;
}
.x_panel{
	display: block;
	width: 100%;
    border: 1px solid #f2f2f2;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
}
.x_panel p.note{
	line-height: 1.5;
}
.x_panel.x_none{
	background: transparent;
	box-shadow: none;
	border: none;
}
.x_panel.x_bottom_none{
	margin-bottom: 0;
}
.x_title{
	position: relative;
	display: block;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}
.x_none .x_title{
	padding: 0;
	border: none;
}
.x_title.x_title_none{
	padding: 0;
	border: none;
}
.x_title.x_title_none .radio{
	display: block;
	padding: 0 10px 0 30px;
}
.x_title.x_title_none .radio label{
	padding: 8px 0 10px 0;
}
.x_title h1, .x_title h2, .x_title h3, .x_title h4{
	display: block;
	width: 100%;
	margin: 0;
	font-size: 13px;
	font-weight: 600;
}
.x_content{
	position: relative;
	display: block;
	width: 100%;
	padding: 10px;
}
.x_content.x_content_none{
	background-color: transparent;
	padding: 0;
}
.x_content .table.border_none, .x_content .table.border_none td{
	border: none;
}
.x_content p{
	line-height: 1.3;
}
.x_none .x_content{
	padding: 0;
}
.x_footer{
	position: relative;
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #F5F5F5;
	border-top: 1px solid #f2f2f2;
}
.x_none .x_footer{
	background: transparent;
	border: none;
	padding: 0;
}
.x_title .radio{
	margin: 0;
	padding: 0;
}
.x_title .radio label{
	display: block;
	width: 100%;
	cursor: pointer;
	font-weight: 500;
	font-size: 15px;
}
.x_title .radio input{
	margin-top: 1px;
}
.x_title .radio span{
	vertical-align: middle;
}
.post_show_all_categories{
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #eee;
    padding: 10px;
}
.post_show_all_categories{
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #eee;
    padding: 10px;
}
.post_show_all_categories table{
    width: 100%;
}
.post_show_all_categories td{
    vertical-align: top;
    padding: 3px 0;
}
.post_show_all_categories input[type="checkbox"]{
	margin-top: 0;
	margin-right: -20px;
	vertical-align: top;
}
.post_show_all_categories td label{
    font-weight: normal;
    cursor: pointer;
    vertical-align: top;
    padding-left: 23px;
    line-height: 1.3;
}
.post_image_choose_from_library, .open_show_tag_feature_area, .open_add_new_category_area{
	display: inline-block;
    text-decoration: underline;
    margin-bottom: 4px;
    font-weight: 500;
}
.post_gallery_image .post_image_choose_from_library{
	padding: 5px 5px 0 5px;
}
.add_new_category_area{
    display: none;
    margin-top: 15px;
}
.add_new_category_area.open{
    display: block;
}
.post_show_all_categories tr.primary label{
    font-weight: 600;
}
.post_show_all_categories td:nth-child(2){
    text-align: right;
    padding: 3px 5px;
}
.post_add_new_tag .input-group{
	margin-bottom: 10px;
}
.bottom_none{
	margin-bottom: 0;
}
.post_show_tag_add_new{
    margin: 0;
    padding: 0;
    list-style: none;
}
.post_show_tag_add_new>li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.post_show_tag_add_new i{
	width: 14px;
	height: 14px;
	text-align: center;
	border-radius: 999px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    background-color: #b4b9be;
    line-height: 1;
}
.post_show_tag_add_new i:hover{
	background-color: #ff0000;
}
.show_tag_feature_area{
    display: none;
    margin-top: 5px;
    border: 1px solid #f2f2f2;
    padding: 8px 10px 10px 10px;
    background-color: #fff;
}
.show_tag_feature_area.open{
    display: block;
}
.post_single_image .img_wrapper{
	height: 150px;
}
.bottom_five{
	margin-bottom: 5px;
}
.nav-tabs{
	border-bottom-color: #f2f2f2;
}
.nav-tabs>li{
	display: flex;
	margin-bottom: -1px;
}
.nav-tabs>li>a{
	padding: 7px 10px;
    line-height: 19px;
    color: #555;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    text-decoration: none;
}
.nav-tabs>li>a:hover{
	border-color: #ccc;
	background-color: #F2F8F9;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #F2F8F9;
	border-color: #f2f2f2;
	border-bottom-color: transparent;
	color: #000;
}
.tab_border .nav-tabs>li.active>a, .tab_border .nav-tabs>li.active>a:focus, .tab_border .nav-tabs>li.active>a:hover{
	background-color: #F2F8F9;
}
.tab_border .nav-tabs>li>a{
	border-radius: 0;
}
.tab_border .tab-content{
	padding: 10px;
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.tab_border .tab-content.no_padding{
	padding: 0;
}
.seo_preview{
	font-family: Arial, sans-serif;
	font-size: 13px;
}
.seo_preview .preview_title{
	color: #1a0dab;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.seo_preview .preview_link{
	color: #006621;
	margin-bottom: 5px;
}
.seo_preview .preview_description{
	color: #545454;
	font-size: small;
}
.seo_progress{
	height: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 0;
}
.seo_progress .progress-bar-warning{
	background-color: #ee7c1b;
}
.seo_progress .progress-bar-success{
	background-color: #7ad03a;
}
.show_gallery_images{
    float: left;
    width: 100%;
}
.show_gallery_images .img_wrapper{
    float: left;
    width: 33.333333333%;
    height: 89px;
}
.gallery_close_image{
    position: absolute;
    z-index: 999;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(132, 132, 132, 0.3);
    opacity: 0.4;
    text-align: center;
    line-height: 92px;
    padding: 29px;
}
.gallery_close_image button{
	margin-top: 30px;
	width: 20px;
	height: 20px;
	padding: 0;
    text-align: center;
    font-size: 24px;
    border: none;
    color: #e00000;
    background-color: transparent;
    overflow: hidden;
    outline: none;
}
.gallery_close_image:hover{
    background-color: rgba(132, 132, 132, 0.5);
    opacity: 1;
}
.remove_featured_image{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(132, 132, 132, 0.3);
	opacity: 0.4;
	text-align: center;
	line-height: 130px;
}
.remove_featured_image button{
	width: 27px;
	height: 27px;
	padding: 0;
    text-align: center;
    border: none;
    color: #e00000;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    margin-top: 60px;
}
.remove_featured_image button i{
	width: 27px;
	height: 27px;
	font-size: 28px;
}
.remove_featured_image:hover{
    background-color: rgba(132, 132, 132, 0.5);
    opacity: 1;
}
/* END POSTS */

/* PROFILE */
.set_user_avatar .img_wrapper{
	float: left;
	width: 100px;
	height: 100px;
}
.set_user_avatar .remove_featured_image{
	line-height: 84px;
}
.set_user_avatar .open_img_lib{
	font-weight: 500;
	text-decoration: underline;
}
/* END PROFILE */
/* PAGE TABS LINKS */
.page_tab_link{
	border-bottom: 1px solid #f2f2f2;
}
.page_tab_link ul{
	float: left;
	margin: 0;
	margin-top: -10px;
	padding: 0;
	list-style: none;
}
.page_tab_link ul>li{
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.page_tab_link ul>li>a{
	padding: 7px 10px;
	line-height: 32px;
	color: #555;
	font-size: 13px;
	font-weight: 600;
	border-radius: 0;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	text-decoration: none;
}
.page_tab_link ul>li>a:hover{
	background-color: #fff;
}
.page_tab_link ul>li.active>a, .page_tab_link ul>li.active>a:focus, .page_tab_link ul>li.active>a:hover{
	border-color: #f2f2f2;
	border-bottom-color: transparent;
	background-color: #F2F8F9;
	color: #000;
}
.page_tab_content{
	padding-top: 20px;
}
.select_menu_area{

}
.select_menu_area .dropdown-menu{
	border-radius: 0;
}
.select_menu_area label{
	float: left;
	font-weight: normal;
	margin-top: 11px;
	margin-right: 10px;
}
.select_menu_area label a{
	font-weight: normal;
	text-decoration: underline;
}
.select_menu_area .dropdown{
	float: left;
	margin-right: 10px;
}
.sidebar_left{
	display: block;
	margin-left: 300px;
}
.sidebar_left_sidebar{
	display: inline;
    width: 280px;
    margin-left: -300px;
    clear: both;
    float: left;
    padding-top: 0;
}
.sidebar_left_content{
	float: left;
	width: 100%;
}
.manage_menu_area{
	display: block;
    width: 100%;
    border: 1px solid #f2f2f2;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
}
.manage_menu_title{
	border-bottom: 1px solid #ddd;
	background-color: #F5F5F5;
	padding: 10px;
}
.manage_menu_title label{
	display: inline-block;
	margin-right: 10px;
	font-weight: normal;
}
.manage_menu_title input.form-control{
	display: inline-block;
	min-width: 270px;
	width: auto;
}
.manage_menu_content{
	padding: 10px;
	min-height: 80px;
}
.manage_menu_content .manage_menu_content_title{
	display: block;
	margin-top: 10px;
	font-size: 1.3em;
	font-weight: 600;
	color: #23282d;
}
.manage_menu_content .manage_menu_content_note{
	display: block;
	margin-bottom: 10px;
}
.manage_menu_footer{
	border-top: 1px solid #ddd;
	background-color: #F5F5F5;
	padding: 10px;
}
.manage_menu_footer .action_delete{
	float: left;
	margin-top: 5px;
	text-decoration: underline;
}
.sidebar_accordion .panel-default>.panel-heading{
	padding: 0;
}
.sidebar_accordion .panel-title>.small,
.sidebar_accordion .panel-title>.small>a,
.sidebar_accordion .panel-title>a,
.sidebar_accordion .panel-title>small,
.sidebar_accordion .panel-title>small>a{
	display: block;
	padding: 10px 15px;
	font-size: 13px;
	text-decoration: none;
	background-color: #f5f5f5;
}
.sidebar_accordion .panel-title>.small.collapsed,
.sidebar_accordion .panel-title>.small>a.collapsed,
.sidebar_accordion .panel-title>a.collapsed,
.sidebar_accordion .panel-title>small.collapsed,
.sidebar_accordion .panel-title>small>a.collapsed{
	background-color: #ffffff;
}
.sidebar_accordion .panel-title>.small:hover,
.sidebar_accordion .panel-title>.small>a:hover,
.sidebar_accordion .panel-title>a:hover,
.sidebar_accordion .panel-title>small:hover,
.sidebar_accordion .panel-title>small>a:hover{
	background-color: #f5f5f5;
}
.sidebar_accordion .panel-group .panel{
	border-radius: 0;
	border-top: none;
	border-bottom: 1px solid #ddd;
}
.sidebar_accordion .panel-group .panel:first-child{
	border-top: 1px solid #ddd;
}
.sidebar_accordion .panel-group .panel+.panel{
	margin-top: 0;
}
.sidebar_accordion .add_item_button{
	margin-top: 15px;
}
.sidebar_accordion .form-group.form_horizontal{
	position: relative;
	padding-left: 62px;
}
.sidebar_accordion .form-group.form_horizontal label{
	position: absolute;
	top: 6px;
	left: 0;
}
.sidebar_accordion .form-group.form_horizontal input{
	
}
.menu_display_locations{
	display: block;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.menu_display_locations table{
	width: 100%;
}
.menu_display_locations th{
	width: 20%;
	font-weight: normal;
	font-style: italic;
	vertical-align: top;
}
.menu_display_locations td{
	width: 80%;
}
.menu_display_locations td label{
	font-weight: normal;
}
.menu_display_locations td .form-group{
	margin-bottom: 5px;
	margin-top: 2px;
}
#list_menu_items{
	float: left;
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}
/* END PAGE TABS LINKS */

.seo_point{
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #bbb;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	border-radius: 12px;
}
.seo_point.bad{
	background-color: #cc0000;
}
.seo_point.normal{
	background-color: #ff8a00;
}
.seo_point.good{
	background-color: #06bc00;
}
.post_comment_columns{
	float: left;
}
.post_comment_columns a{
	position: relative;
	display: inline-block;
	background-color: #72777c;
	padding: 2px 7px 3px 7px;
	min-width: 24px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.post_comment_columns a span{
	position: absolute;
	top: -5px;
    left: 100%;
    margin-left: -5px;
    padding: 0 5px;
    min-width: 7px;
    height: 19px;
    border: 2px solid #fff;
    border-radius: 11px;
    background: #ca4a1f;
    color: #fff;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
}
.post_comment_columns:after{
	content: "";
    display: block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid #72777c;
    border-right: 5px solid transparent;
}
.post_comment_columns:hover a{
	background-color: #308ee0;
}
.post_comment_columns:hover:after{
	border-top-color: #308ee0;
}
.font_small{
	font-size: 12px;
}

.footer{
	display: block;
	width: 100%;
	background-color: #F1F1F1;
}
.footer .copyright{
	display: block;
	text-align: right;
	padding: 20px;
	font-size: 13px;
}

@media screen and (max-width: 767px){
	a#site_logo{
		display: block;
		margin-left: 5px;
		height: 45px;
		padding: 11px 0;
	}
	a#site_logo img{
		width: auto;
		height: 25px;
		margin-top: 0;
	}
	.header_top{
		height: 46px;
	}
	.header_top_left>ul>li>a{
		padding: 0;
	}
	.header_top_left>ul>li>a>i.dashicons, .header_top_left>ul>li>a>i.dashicons:before{
		display: block;
	    text-indent: 0;
	    font: 400 32px/1 dashicons;
	    speak: none;
	    width: 52px;
	    height: 46px;
	    text-align: center;
	    line-height: 52px;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	.header_top_left>ul>li>a>i.site_home_icon, .header_top_left>ul>li>a>i.site_home_icon:before{
		margin-top: 0;
		line-height: 45px;
	}
	#admin_menu_toggle .ab-icon, #admin_menu_toggle .ab-icon:before{
		width: 52px;
		height: 46px;
		content: "\f228";
	    display: inline-block;
	    float: left;
	    font: 400 40px/45px dashicons;
	    vertical-align: middle;
	    outline: 0;
	    margin: 0;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    padding: 0;
	    border: none;
	    text-align: center;
	    text-decoration: none;
	    box-sizing: border-box;
	}
	.header_top_menu>li>a{
		width: 46px;
		height: 46px;
		padding: 8px 0;
	}
	.header_top_avatar{
		width: 30px;
		height: 30px;
	}
	.header_top_dropdown ul{
		position: fixed;
		left: 0;
		right: 0;
		top: 46px;
		padding: 10px 0 15px 0;
	}
	.header_profile_info{
		display: block;
		width: 100%;
	}
	.header_profile{
		padding: 0;
	}
	.header_profile_info a{
		padding: 10px 15px;
		margin: 0;
		font-size: 16px;
	}
	.header_top_left>ul>li.li_drop_down ul.ul_drop_down{
		position: fixed;
		top: 46px;
		left: 0;
		right: 0;
	}
	.header_top_left>ul>li.li_drop_down ul.ul_drop_down>li>a{
		font-size: 16px;
	}
	.admin_nav_ul>li>a{
		font-size: 16px;
	}
	.admin_nav_ul ul>li>a{
		font-size: 16px;
	}
	.body_wrapper{
		padding-top: 0;
		margin-top: 46px;
		overflow-x: hidden;
	}
	.body_wrapper.collapsed{
		padding-left: 0;
	}
	.body_wrapper.collapsed .admin_nav{
		display: none;
		width: 0;
	}
	.admin_nav.nav_fixed{
		position: absolute;
		top: 0;
	}
	.admin_page_wrapper{
		padding: 0;
		min-height: 100%;
	}
	.body_wrapper.collapsed .admin_nav.nav_fixed{
		left: -35px;
	}
	.admin_page{
		padding-left: 160px;
	}
	.body_wrapper.collapsed .admin_page{
		padding-left: 0;
	}
	.container-fluid{
		padding: 0 10px;
	}
	.admin_table>tbody>tr>th{
		display: block;
		width: 100%;
		padding: 0;
	}
	.admin_table>tbody>tr>td{
		display: block;
		padding: 5px 0;
	}
	.admin_table>tbody>tr>td .form-control{
		width: 100%;
	}
	.page_layout{
		padding: 0;
	}
	.page_layout .right_wrapper {
	    float: left;
	    display: block;
	    width: 100%;
	    margin-right: 0;
	}
	.admin_table_subject{
		margin-bottom: 15px;
	}
	.admin_table_comment{
		margin-bottom: 15px;
	}
	.admin_table .btn_inline{
		margin-top: 5px;
	}
}
.dd,
  .dd-list {
      position: relative
  }
  
  .dd-list {
      margin: 0;
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      list-style: none
  }
  
  .dd-list .dd-list {
      padding-left: 1.25rem
  }
  
  .dd-list .dd-list .dd-handle {
      border-left: 1px solid #ecedf1
  }
  
  .dd-item {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column
  }
  
  .dd-item:first-child>.dd-nodrag {
      margin-top: 2rem
  }
  
  .dd-item>button {
      position: absolute;
      left: 2rem;
      top: 1.125rem;
      padding: 0;
      padding-left: 20px;
      width: 20px;
      height: 20px;
      border: 0;
      line-height: 1;
      white-space: nowrap;
      vertical-align: middle;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 10px;
      overflow: hidden
  }
  
  .dd-item>button.dd-expand {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' data-prefix='fas' data-icon='caret-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-caret-right fa-w-10 fa-3x'%3e%3cpath fill='currentColor' d='M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z' class=''/%3e%3c/svg%3e")
  }
  
  .dd-item>button.dd-collapse {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' data-prefix='fas' data-icon='caret-down' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-caret-down fa-w-10 fa-3x'%3e%3cpath fill='currentColor' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3e%3c/svg%3e")
  }
  
  .dd-item>button+.dd-handle {
      padding-left: 2.5rem
  }
  
  .dd-item>button+.dd-handle>.drag-indicator {
      -webkit-transform: translate3d(-2rem, 0, 0);
      transform: translate3d(-2rem, 0, 0);
      margin-right: .25rem
  }
  
  .dd-footer {
      display: block;
      background-color: #f6f7f9
  }
  
  .dd-handle {
      margin-bottom: -1px;
      padding: .75rem 1rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      background-color: #fff;
      border-top: 1px solid #ecedf1;
      border-bottom: 1px solid #ecedf1
  }
  
  .dd-handle:focus,
  .dd-handle:hover {
      text-decoration: none
  }
  
  .dd-collapsed .dd-collapse,
  .dd-collapsed .dd-list,
  .dd-expand {
      display: none
  }
  
  .dd-collapsed .dd-expand {
      display: block
  }
  
  .dd-placeholder {
      min-height: 30px;
      background: rgba(52, 108, 176, .12);
      border: 1px dashed #346cb0
  }
  
  .dd-empty,
  .dd-placeholder {
      position: relative;
      margin: 0;
      padding: 0
  }
  
  .dd-empty {
      min-height: 56px;
      background-color: #f6f7f9;
      border: 1px dashed rgba(34, 34, 48, .1)
  }
  
  .dd-dragel {
      position: absolute;
      pointer-events: none;
      z-index: 2000
  }
  
  .dd-dragel>.dd-item .dd-handle {
      margin-top: 0
  }
  
  .dd-nochildren .dd-placeholder {
      display: none
  }
  .has-dragable .drag-indicator {
    opacity: 0
}

.has-dragable:hover .drag-indicator {
    opacity: 1
}

.drag-handle,
.drag-indicator {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.drag-indicator {
    display: inline-block;
    margin: 0 .5em;
    height: 8px;
    width: 6px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVR42mNgAIJz507/Z4AxVqxYAuEgAwD26QnApt++GwAAAABJRU5ErkJggg==);
    -webkit-transform: translate3d(-.5em, 0, 0);
    transform: translate3d(-.5em, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.drag-indicator-lg {
    height: 14px;
    width: 8px
}

.drag-indicator-tall {
    height: 20px;
    width: 8px
}
.edit_slug_box{
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
.edit_slug_box strong{
	float: left;
	margin-top: 10px;
	font-weight: 500;
}
.sample_permalink{
	float: left;
	margin-left: 5px;
}
.sample_permalink a{
	float: left;
}
.sample_permalink .edit_post_url{
	float: left;
	margin-top: 10px;
}
.sample_permalink .edit_post_name{
	float: left;
}
.sample_permalink .edit_post_url_last{
	float: left;
	margin-top: 10px;
}
.sample_permalink .edit_post_name .input-sm{
	float: left;
	margin-top: 5px;
	width: 350px;
	height: 24px;
	font-size: 13px;
	padding: 1px 5px 3px 5px;
}
.sample_permalink #change_permalink{
	display: block;
	height: 20px!important;
}
.sample_permalink.active #change_permalink{
	display: none;
}
.sample_permalink #submit_change_permalink{
	display: none;
}
.sample_permalink.active #submit_change_permalink{
	display: block;
	height: 20px!important;
}
.sample_permalink #cancel_change_permalink{
	display: none;
}
.sample_permalink.active #cancel_change_permalink{
	display: block;
	height: 20px!important;
}
.sample_permalink .edit_post_name input{
	display: none;
}
.sample_permalink.active .edit_post_name input{
	display: block;
	height: 20px!important;
}
.sample_permalink .field_slug_text{
	white-space: nowrap;
	max-width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	min-height: 15px;
}
.sample_permalink.active .field_slug_text{
	display: none;
}
.edit_permalink_action{
	float: left;
	height: 24px;
	padding: 1px 10px;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 3px;
	font-size: 12px;
}
@media screen and (max-width: 767px){
	.sample_permalink{
		margin-left: 0;
		width: 100%;
	}
	.sample_permalink .edit_post_name .input-sm{
		width: auto;
	}
}