/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/mix-manifest.json
public/css/fonts.css.map
public/css/fonts.css
public/css/app.css
public/css/app.css.map
public/css/core.css
public/css/core.css.map
public/js/app.js
public/js/app.js.LICENSE.txt
public/js/app.js.map
public/js/vendor.js
public/js/vendor.js.LICENSE.txt
public/js/vendor.js.map
public/js/manifest.js
public/js/manifest.js.map
public/*.js
public/*.js.map
yarn.lock
composer.lock
composer.lock
/keystore_backup
/contracts
/migrations
/enode
