.icon-network:before{content:'\0041';}
.icon-profile:before{content:'\0042';}
.icon-sell:before{content:'\0043';}
.icon-support:before{content:'\0044';}
.icon-trading:before{content:'\0045';}
.icon-wallet:before{content:'\0046';}
.icon-commission:before{content:'\0047';}
.icon-history:before{content:'\0048';}
.icon-logout:before{content:'\0049';}
.icon-money:before{content:'\004a';}
.icon-buy:before{content:'\0063';}